{% extends 'app/base.html' %}

{% load static %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block contenido %}

{% load static %}
<link rel="stylesheet" href="{% static 'app/css/facturass.css'%}">


<body>
        <h1>Control de Facturas</h1>
    <div>

        {% load humanize %}

                {% for p in Factura %}

                {% load humanize %}

                <table>
                    <thead>
                        <tr>
                            <th class="header-cell">ID de factura</th>
                            <th class="header-cell">Numero de factura</th>
                            <th class="header-cell">fecha de emicion</th>
                            <th class="header-cell">cliente</th>
                            <th class="header-cell">Items de factura</th>
                            <th class="header-cell">Total</th>
                            <th class="header-cell">Estado de la factua</th>
                        </tr>
                    </thead>
                    <tbody id="factura-tbody">

                <tr>
                    <td>{{ p.ID_de_factura }}</td>
                    <td>{{ p.Numero_de_factura }}</td>
                    <td>{{ p.fecha_de_emicion }}</td>
                    <td>{{ p.cliente }}</td>
                    <td>{{ p.Items_de_factura }}</td>
                    <td>${{ p.Total | intcomma }}</td>
                    <td>{{ p.Estado_de_la_factua}}</td>
                </tr>
            </tbody>
        </table>

        {% endfor %}

    </div>

    
</body>
</html>


{% endblock %}