body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EEEEEE;
}

header {
    background-color: #393E46;
    color: #EEEEEE;
    padding: 10px 0;
    text-align: center;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 25px;
    justify-content: center;
}

th, td {
    padding: 12px; /* Aumentado el padding */
    text-align: center;
}

.header-cell {
    background-color: #32E0C4;
    color: #222831;
}

tbody tr:nth-child(even) {
    background-color: #393E46;
    color: #EEEEEE;
}

tfoot {
    background-color: #393E46;
    color: #EEEEEE;
    text-align: center;
    padding: 10px 0;
}
